body {
    background-color: red;
}

div {
    font-size: x-large;
    text-align: center;
}

div::after {
    content: "welcome to the demo"
}

@media (max-width: 400px) {
    body {
        background-color: white;
    }
    div::after {
        content: "very small"
    }
}

@media (max-width: 400px) and (max-width: 750) {
    body {
        background-color: white;
    }
    div::after {
        content: "very small"
    }
}
 
@men(min-width: 750px) and (max-width: 900px) {
    /*
    if viewport is atleast 900px
    thenthis style will apply
    */
    body {
        background-color: aquamarine;
    }
    div::after {
        content: "woah its working"
    }
}

@media (min-width: 900px) {
    body {
        background-color: black;
    }
    div::after {
        content: "woah its good"
    }
} 