@media (max-width: 600px) {
/*
   phone
*/
body {
    background-color: red;
}
div ::after {
    content: 'this is mobile compatible'
    }
}

@media (min-width) { /*600px-768px*/
    /*
    portrain table and big phone
    */
    body {
        background-color: bisque;
    }
    div::after {
        content: 'portrait tabler and big phone'
    }
}


div {
    text-align:center ;
    font-size: x-large;
}