main p {
    color: red
}

/* child sel*/

/* section + p {
    color: yellow;
} */

section ~ p {
    color:azure 
}

[target="_blank"] {
    color: pink;
    text-decoration: white;
}

[alt~="PR"] {background-color: aqua;
}
